<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/home/css/bootstrap.min.css">
    <meta charset="UTF-8">
</head>
<body>
<ul class="ce">
    <li> <a class="xz"  href="#">lothot</a> </li>
    <li>
        <a href="#">目录1<img class="more" src="/static/home/img/more.png"/></a>
        <ul class="er">
            <li><a  href="##">二级目录1</a></li>
            <li class="e_li">
                <a  href="##">二级目录2</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录A</a> </li>
                    <li>
                        <a  href="##">三级目录B </a>
                    </li>
                    <li> <a  href="##">三级目录C</a>
                    </li>
                    <li>
                        <a  href="##">三级目录D</a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li>     <a  href="##">二级目录2</a>   </li>
            <li class="e_li">
                <a  href="##">二级目录3</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录1</a> </li>
                    <li> <a  href="##">三级目录2</a> </li>
                    <li> <a  href="##">三级目录3</a> </li>
                    <li> <a  href="##">三级目录4</a> </li>
                    <div class="clear"></div>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">目录2<img   class="more" src="/static/home/img/more.png"/></a>
        <ul class="er">
            <li><a  href="##">二级目录1</a></li>
            <li class="e_li">
                <a  href="##">二级目录2</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录1</a> </li>
                    <li>
                        <a  href="##">三级目录2</a>
                        li>
                    <li> <a  href="##">三级目录3</a> </li>
                    <li>
                        <a  href="##">三级目录4</a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li>     <a  href="##">二级目录3</a>   </li>
            <li class="e_li">
                <a  href="##">二级目录4</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录1</a> </li>
                    <li> <a  href="##">三级目录2</a> </li>
                    <li> <a  href="##">三级目录3</a> </li>
                    <li> <a  href="##">三级目录4</a> </li>
                    <div class="clear"></div>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">目录3<img class="more" src="/static/home/img/more.png"/></a>
        <ul class="er">
            <li><a  href="##">二级目录A</a></li>
            <li class="e_li">
                <a  href="##">二级目录B</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录A</a> </li>
                    <li>
                        <a  href="##">三级目录B <img class="more1" src="/static/home/images/more1.png"/></a>
                        <div class="thr_nr">
                            <h3> 三级目录B主要内容 </h3>
                            <img src="images/aa.png"/>
                        </div>
                    </li>
                    <li> <a  href="##">三级目录C</a> </li>
                    <li>
                        <a  href="##">三级目录D <img class="more1" src="images/more1.png"/></a>
                        <div class="thr_nr">
                            <h3> 三级目录D主要内容 </h3>
                            <img src="images/bb.png"/>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li>     <a  href="##">二级目录C</a>   </li>
            <li class="e_li">
                <a  href="##">二级目录D</a>
                <ul class="thr">
                    <li> <a  href="##">三级目录A</a> </li>
                    <li> <a  href="##">三级目录B</a> </li>
                    <li> <a  href="##">三级目录C</a> </li>
                    <li> <a  href="##">三级目录D</a> </li>
                    <div class="clear"></div>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">目录4<img class="more" src="/static/home/img/more.png"/></a>
        <ul class="er">
            <li> <a  href="##">二级目录A</a> </li>
            <li> <a  href="##">二级目录B</a> </li>
            <li> <a  href="##">二级目录C</a> </li>
            <li> <a  href="##">二级目录D</a> </li>
        </ul>
    </li>
    <div class="clear"></div>
</ul>

{__CONTENT__}
<script type="text/javascript" src="/static/home/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/home/js/main.js"></script>
</body>
</html>